## Tuples: 
The tuple object is roughly like a list that cannot be changed. Tuples are immutable.

In [1]:
# A 4-item tuple
T = (1 , 2 , 3 , 4)

In [2]:
# Length
len(T)

4

In [3]:
#Concatenate
T + (5,6)

(1, 2, 3, 4, 5, 6)

In [4]:
#indexing, slicing, and more
T[0]

1

In [5]:
#Tuples are immutable 
T[0]=2

TypeError: 'tuple' object does not support item assignment

In [8]:
#make a new tuple for a new value with the old name
T = (2,) + T[1:]
# need to put comma otheriwse it will think its an integer and a tuple so it doesnt know what to do with + sign

In [9]:
T = 'spam', 3.0, [11,22,33]
# no paranthesis will default as a tuple

In [10]:
T[1]

3.0

In [12]:
T[2][1]

22

In [13]:
#can't append a tuple since it is immutable
T.append(4)

AttributeError: 'tuple' object has no attribute 'append'

## Numberic Types and Operations

In [16]:
#name created not declared ahead of time. Variables and values
a = 3
b = 4

In [18]:
#Addition and subtraction with the output as a Tuple
a+1, a-1

(4, 2)

In [24]:
#Multiplication, division (float), power, modulus
a*2,a/3,a**3,a%2

(6, 1.0, 27, 1)

In [26]:
#mixed type conversions. One of the operators was a float so the results are now float
2 + 4.0, 2.0 ** b

(6.0, 16.0)

In [27]:
type(2)

int

In [28]:
type(4.0)

float

In [29]:
#calling an undefined object
c*2

NameError: name 'c' is not defined

In [30]:
b/2+a

5.0

In [31]:
b/(2+a)

0.8

## Numeric Display Formats

In [32]:
num = 1/3.0

In [33]:
print(num)

0.3333333333333333

In [34]:
#String formatting Expression - scientific notation
'%e' %num

'3.333333e-01'

In [35]:
#ALternative floating point format
'%.2f' %num

'0.33'

In [36]:
'{:.6f'}.format

SyntaxError: invalid syntax (<ipython-input-36-5cbe8b1817a0>, line 1)

## Comparisons: Normal and Chained
Normal comparisons compare relative magnitudes their operands and returns a certain method or results.

In [37]:
2 > 1

True

In [39]:
#mixed type 
2.0 > 1

True

In [40]:
2.0 == 2.0

True

In [44]:
# Will be false because each value is a different type
2.0 != 2

False

In [45]:
2.0 == 2

True

In [46]:
# is is different than == 
2.0 is 2

False

In [48]:
X = 2
Y =4
Z =6

In [49]:
X<Y<Z

True

In [50]:
X < Y and Y<Z

True

In [51]:
X<Y and Y>Z

False

In [52]:
X < Y >Z

False

In [57]:
# This will be false because of the floating point. Need to massage before comparing
1.1 + 2.2 == 3.3

False

In [56]:
1.1 +2.2

3.3000000000000003

In [59]:
int(1.1+2.2) ==int(3.3)

True

## Bitwise Operations
Python supports operators that treat integers as strings to binary bits. This can come in handy if your Python code must deal with things like network pakcets, serial ports, or packed binary data produced by a C program.

In [60]:
# 1 decimal is 0001 in bits
x = 1

In [61]:
#shift left two bits 
x << 2

4

In [62]:
# Bitwise OR
x | 2

3

In [63]:
#bitwise AND
x & 1

1

In [64]:
3 & 5

1

In [65]:
bin(4)

'0b100'

In [67]:
type(bin(4))

str

In [69]:
X = 0b0001
x

1

In [70]:
x << 2

4

In [73]:
bin(x | 0b010)

'0b11'

You can euse bit_leth method to query the umber of bits required to represent a number's value in binary

In [74]:
X = 8
bin(X), X.bit_length(),len(bin(X)) - 2

('0b1000', 4, 4)

In [75]:
import math

In [76]:
#COMMON constants
math.pi, math.e

(3.141592653589793, 2.718281828459045)

In [77]:
dir(math)

['__doc__',
 '__loader__',
 '__name__',
 '__package__',
 '__spec__',
 'acos',
 'acosh',
 'asin',
 'asinh',
 'atan',
 'atan2',
 'atanh',
 'ceil',
 'copysign',
 'cos',
 'cosh',
 'degrees',
 'e',
 'erf',
 'erfc',
 'exp',
 'expm1',
 'fabs',
 'factorial',
 'floor',
 'fmod',
 'frexp',
 'fsum',
 'gamma',
 'hypot',
 'isfinite',
 'isinf',
 'isnan',
 'ldexp',
 'lgamma',
 'log',
 'log10',
 'log1p',
 'log2',
 'modf',
 'pi',
 'pow',
 'radians',
 'sin',
 'sinh',
 'sqrt',
 'tan',
 'tanh',
 'trunc']

In [79]:
math.sqrt(144),math.sqrt(2)

(12.0, 1.4142135623730951)

In [80]:
#Exponents
pow(2,4), 2** 4, 2.0**4.0

(16, 16, 16.0)

In [83]:
# Absolute value and summation, summation needs a list or tuple
abs(-42.0), sum((1,2,3,4))

(42.0, 10)

In [84]:
#min and max. min/max can just be values separated by commas
min(1,3,0), max(4,54,6)

(0, 54)

In [86]:
#next lowest integer
math.floor(2.5657), math.floor(-3.2334)

(2, -4)

In [87]:
math.trunc(2.2343), math.trunc(-3.32)

(2, -3)

In [88]:
#ROUNDING
round(2.32), round (4.92), round (2.321,2)

(2, 5, 2.32)

In [89]:
import math

In [90]:
#module
math.sqrt(144)

12.0

In [91]:
#Expression
144 ** 0.5

12.0

In [92]:
# Built in
pow(144,.5)

12.0

In [93]:
import time

In [94]:
start_time = time.time()
[math.sqrt(144) for i in range (10000)]

end_time = time.time()
print("Elapsed time to run math.sqrt(144) was: ",
     end_time - start_time, "seconds")

Elapsed time to run math.sqrt(144) was:  0.007947206497192383 seconds

In [95]:
start_time = time.time()
[pow(144,.5) for i in range (10000)]

end_time = time.time()
print("Elapsed time to run math.sqrt(144) was: ",
     end_time - start_time, "seconds")

Elapsed time to run math.sqrt(144) was:  0.008079767227172852 seconds

In [96]:
start_time = time.time()
[144**.5 for i in range (10000)]

end_time = time.time()
print("Elapsed time to run math.sqrt(144) was: ",
     end_time - start_time, "seconds")

Elapsed time to run math.sqrt(144) was:  0.0004420280456542969 seconds

In [97]:
import random

In [98]:
random.random()

0.622288042739101

In [99]:
random.random()

0.0689017950191918

In [100]:
random.seed(100)

In [102]:
random.random()

0.1456692551041303

In [103]:
random.seed(100)

In [104]:
random.random()

0.1456692551041303

In [105]:
random.random()

0.45492700451402135

In [106]:
random.seed(100)

In [107]:
random.random()

0.1456692551041303

random.random()

In [110]:
random.choice(['life of brian','holy grail'])

'life of brian'

In [111]:
random.choice(['life of brian','holy grail'])

'holy grail'

In [113]:
random.choice(('life of brian','holy grail'))

'holy grail'

In [116]:
suits = ['hearts', 'clubs', 'diamonds', 'spades']
random.shuffle(suits)

In [117]:
suits

['clubs', 'hearts', 'diamonds', 'spades']

In [118]:
suits = ('hearts', 'clubs', 'diamonds', 'spades')
random.shuffle(suits)

TypeError: 'tuple' object does not support item assignment

Sets - an **unordered** collction of **unique** and **immutable** objects that supports operations corresponding to mathematical set theory.

In [122]:
# Built-in call (all))
set([1,2,3,4,4])

{1, 2, 3, 4}

In [123]:
set('spamm')

{'a', 'm', 'p', 's'}

In [124]:
S = {'s','p','a','m'}

In [125]:
S.add('alot')

In [126]:
S

{'a', 'alot', 'm', 'p', 's'}

In [127]:
S1 = {1,2,3,4}

In [129]:
#Intersection
S1 & {1,3}

{1, 3}

In [130]:
#Union 
{1,5,3,6} | S1

{1, 2, 3, 4, 5, 6}

In [131]:
#Difference
S1 - {1,3,4}

{2}

In [135]:
#super set 
S1 > {1,3}

True

In [136]:
# sub set
S1 < {1,3}

False

Sets can only contain immutable objects types. Cannot use dictionaries or lists but you can use tuples!

In [138]:
S = set()
S.add(1.23)

In [139]:
S

{1.23}

In [140]:
S.add([1,2,3])

TypeError: unhashable type: 'list'

In [141]:
S.add((1,2,3))

In [142]:
S

{(1, 2, 3), 1.23}

In [143]:
# Union 
S | {(4,5,6),(1,2,3)}

{(1, 2, 3), (4, 5, 6), 1.23}

In [144]:
{c *4 for c in 'spamham'}

{'aaaa', 'hhhh', 'mmmm', 'pppp', 'ssss'}

In [146]:
S | {'mmmm','xxxx'}

{(1, 2, 3), 1.23, 'mmmm', 'xxxx'}

In [147]:
S & {'mmmm','xxxx'}

set()

In [148]:
L = [ 1 ,2 ,3, 2, 3,1, 4]

In [149]:
set(L)

{1, 2, 3, 4}

In [150]:
L = list(set(L))

In [151]:
L

[1, 2, 3, 4]

In [154]:
list(set(['yy','ss','bb','bb','yy']))

['bb', 'yy', 'ss']

In [155]:
# ffind string difference
set('absd')-set('ab')

{'d', 's'}

In [156]:
L1 , L2 =[1,2,3],[3,2,1]

In [157]:
L1 == L2

False

In [158]:
set(L1) == set(L2)

True